.container {
	border-radius: 8px;
	padding: 12px;
	background: hsla(199, 35%, 14%, 0.653);
	border: 1.5px solid hsl(200, 60%, 22%);
}

h1 {
	font-size: 2.8rem;
	text-transform: uppercase;
	letter-spacing: 8px;
	background-color: hsl(200, 42%, 14%);
	padding-block: 1rem;
	border: 1.5px solid hsl(200, 60%, 22%);
	color: hsl(200, 83%, 36%);
	border-radius: 12px;
	line-height: 1;
	margin-block: 2rem;
}

.table {
	border-collapse: collapse;
}

.cell {
	border: 1px solid #e5e5e5;
	padding: 0;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
	border-right: 3px solid #ffffff;
}

.cell:nth-child(1) {
	border-left: 3px solid #ffffff;
}

.table tr:nth-child(3) .cell,
.table tr:nth-child(6) .cell,
.table tr:nth-child(9) .cell {
	border-bottom: 3px solid #ffffff;
}

.table tr:nth-child(1) .cell {
	border-top: 3px solid #ffffff;
}

input {
	width: clamp(35px, 8vw, 60px);
	height: clamp(35px, 8vw, 60px);
	text-align: center;
	font-size: 23px;
	border: none;
	outline: none;
	background: inherit;
	color: rgb(255, 255, 255);
	cursor: default;
}

input:focus {
	background-color: hsl(200, 83%, 36%);
	caret-color: transparent;
}

.same-row,
.same-col,
.same-box {
	background: #193239;
}

.status {
	font-weight: bold;
	position: absolute;
	top: 10px;
	background-color: black;
	margin-top: 2rem;
	padding: 10px 25px;
	border-radius: 10px;
	left: 50%;
	transform: translateX(-50%);
}

.green {
	background-color: #1f3959;
	transition: background-color 0.3s ease-in;
}

.button {
	background-color: hsl(200, 42%, 14%);
	border: 1.5px solid hsl(200, 60%, 22%);
	color: hsl(200, 83%, 36%);
	padding: 0.3rem 2rem;
	border-radius: 6px;
	font-weight: 500;
	cursor: pointer;
	transition: background-color 0.1s ease;
	font-size: clamp(0.7rem, 3vw, 1.5rem);
}

.button:hover {
	background-color: hsl(199, 39%, 17%);
}
